<div class="new d-flex flex-lg-row flex-column">
<!-- image -->
<div class="col-lg-4 ">
    <img src="{{new.urlToImage ? new.urlToImage : 'https://picsum.photos/500/450'}}" alt="New Photo">
</div>
<!-- new -->
<div class="content col-lg-8 d-flex flex-column justify-content-center align-items-center gap-3 bg-gray p-lg-4 p-2">
    <!-- title -->
    <div>
        <h2 class="fw-bold">{{new.title}}</h2>
    </div>

    <!-- new desc -->
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione consequuntur dolore quia asperiores qui cupiditate vitae rerum hic in ipsa, tempore, recusandae omnis? Assumenda, minus.
    </p>

</div>
</div>