<div class="d-flex flex-md-row flex-column p-5 gap-5">

<div class="col-md-6">
    <h1 class="display-4 fw-bold mb-4">Get Know Me!</h1>
    <p>Hello I'm <span class="fw-bold">Fevzi</span>, I'm <span class="fw-bold">Computer
            Engineering</span> student at Bandirma 17 Eylül University.</p>
    <p>I am <span class="fw-bold">willed</span>, <span class="fw-bold">determined</span> and <span
            class="fw-bold">love to learn</span>.</p>
    <p>I'm passionate about <span class="fw-bold">Web Development</span>. I develop applications mainly using
        <span class="fw-bold">React.js</span>, <span class="fw-bold">Next.js</span>, and <span
            class="fw-bold">Angular</span>.</p>
</div>

<div class="col-md-6">
    <h1 class="display-4 fw-bold mb-4">My Skills</h1>
    <div class="skills-container d-flex flex-wrap flex-row justify-content-start align-items-center gap-3">
      <ng-container *ngFor="let item of skills">
        <p class="skill-container px-4 py-2 rounded ">{{ item }}</p>
      </ng-container>
    </div>
  </div>

  </div>